table tr th { font-size:.9rem; font-weight:500; outline:none; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; }
table tr td { font-size:.8rem; }

@media (min-width: 720px) and (max-width: 1200px) {
    #act_bar_text { width: 100%; text-align: center; }
}
@media (min-width: 300px) and (max-width: 719px) {
    .act_txt { display: none; }
}
@media (max-width: 514px) {
    #act_bar_text { width: 100%; text-align: center; }
    #act_bar_cont { text-align: center !important; }
}

@media print { #div_tbl_productos { max-height:unset !important; overflow:hidden; } }